.affichage, .entete{
    margin: 0;
}
.sections{
    display: grid;

    grid-template-rows:repeat(auto-fill);
    grid-template-columns: 1fr;


}


.utilisateurnv{
    width: auto;
    position: relative;
    margin: 0;
    padding: .9vw 3px;/* 
    border-width: max(0.2vw, 1px); */
    border-bottom: min(1px, 0.3vw) solid var(--clr);
    
    display: grid;
    grid-template-columns: /* min(5fr, 10px) */300px 5fr 3fr;
    /* grid-template-areas: 'photo nom matricule montant statut date actions'; */
    grid-template-areas: 'info paiement actions';
    gap: 5%;
    align-items: center;
    justify-content: space-between;
}

.utilisateurnv *{
    margin: 0;
    align-items: center;
}

.utilisateurnv .texte{
    width: auto;
    font-size: clamp(0.7rem,1.3vw, 0.9rem);
}

.recherche{
    padding: min(9px, 3vw) min(13px, 4vw);
}

.ajout{
    padding: min(7px, 2vw) min(14px, 4vw);
}

.info{
    grid-area: info;
    display: grid;
    grid-template-columns: .2fr min(.2fr, 80px) 100px 50px .7fr;
    grid-template-areas: ' photo matricule prenom nom classe';
    gap: 8px;
    /* justify-content: space-between; */
}

    .utilisateurnv img{
        grid-area: photo;
        width: clamp(19px,4vw, 40px);
        
    }

    .matricule{
        grid-area: matricule;
    }
    .prenom{
        width: 100%;
        grid-area: prenom;
        width: fit-content;
        font-size: 18px; 
    }
    
    .nom{
        grid-area: nom;
        width: fit-content;
    }
    
    .classe{
        grid-area: classe;
    }



.paiement{
    grid-area: paiement;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: 'montant statut date';
    gap: 2px;
    justify-self: center;
}


    .montant{
        grid-area: montant;
    }

    .statut{
        grid-area: statut;
        width:min(3vw, 30px);
        height:min(3vw, 30px);
        justify-self: center;
        background-color:var(--rouge);
        border-radius: 50%;
    }
    .statut.paye{
        background-color: lime;
    }

    .date{
        grid-area: date;
    }

.actions{
    grid-area: actions;

    position: relative;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
 
    overflow: hidden; 
    transition: .4s;
}

.actions:hover{
    height:200px;
    transition: .6s;
    overflow: auto;
}

 
.actions a.texte, button 
{
    position: relative;
    width: fit-content;
    margin: 0; 
    padding : 4px 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 3px;
    /* display: none; */
    border: 1px solid var(--clr);
    border-radius: 4vw; 
    transition: .5s;
}

.actions a.texte:nth-child(2):hover{
    color: white;
    background-color: var(--clr);
}
.actions a.texte:nth-child(3):hover{
    color: white;
    background-color: var(--clr2);
}
.actions a.texte:last-child:hover{
    color: white;
    background-color: var(--rouge);
}

.actions .texte i{
    margin-top: 4px;
    font-size: clamp(0.5rem,1.9vw, 1.1rem);
}


.actions a:nth-child(1){
    border-color: black;
    color: black;
}
.actions a:nth-child(2){
    border-color: var(--clr);
    color: var(--clr);
}
.actions a:nth-child(3){
    border-color: var(--clr2);
    color: var(--clr2);
}
.actions a:nth-child(4){
    border-color:var(--rouge);
    color: var(--rouge);
}

.deroulant{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center ;
    /* height: auto; */

    height: min(3vw, 30px);
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    border-radius: 0;
    transition: .4s;
    cursor: pointer;
    padding: 0;
    padding: 3.5px 0 0;
}
.deroulant:hover{
    height: 130px;
    transition: .4s;
    /* 
    border-left: 1px solid var(--clr);
    border-right: 1px solid var(--clr); */
}


.t{
    width: 100%;
    height: 90px;
    background: #000;
}

@media (max-width:550px){
    
    .actions{
        height: 30px;
    }
    .actions:hover{
        height:160px;
    }
    .deroulant:hover{
        height:70px;
    }
}