
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
}

:root{
    --clr: #2a61e6;
    --clr2:  #0a1639;
}


::selection{
    background-color: var(--clr);
    color: white;
}

.entete{
    display: flex;
    
}
.info{
    width: max-content;
    height: fit-content;
    margin-left: 20px;
    margin-top: min(8%, 55px); 
}
/*  */
.titre{
    width: auto;
    margin: 0;
    color: rgba(0, 0, 0, 1);
    font-size: clamp(1.5rem,5vw,3rem);
    font-weight: 700;

    }
    
/* tres_gros */
.sous_titre{
width: auto;
margin: 0;
text-align: left;
color: rgb(0, 0, 0);


font-size: clamp(1rem, 3vw, 2.5rem);
font-weight: 300;
line-height: 0;

/*   border: 1px solid rebeccapurple ; */
}

b{
    font-weight: 700;
}

img{
    border-radius: 50%;
    width: min(20vw, 200px);
    position: relative;
    transition:.2s;
}

.cote_gauche{
    width: 40%;
    height: 100vh;
    /* border: #0a1639 1px solid; */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

p{
    margin: 0;
    width: auto;
    text-align: center;
}


.cote_droit{
    position: relative;
    width: 60%;
    background: var(--clr2);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../../image/logo_cfpt.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 190%;
    background-blend-mode: soft-light;

}


form{
    position: relative;
   /*  left: 50%;
    transform: translate(-50%); */
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
    width: auto;
    max-width: 900px;
    height: min(100%, 700px);
    position: relative;
    right: 0;
    padding: 15px ;
    color: white;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

}
form div{
    position: relative;
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sexe{
    margin: 1px;
    display: flex;
    align-items: center;

}

form .sous_titre{
    position: relative;
    width: auto;
    height: 30px;
    text-align: center;
    color: var(--clr);
    font-weight: 500;
    margin-top: 60px;
}

.b{
    font-weight: 700;
    margin-right: 10px;
    font-size: clamp(1.35rem, 2.4vw, 1.98rem);
}

label{
    margin: 10px;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
input, select{
    background-color: transparent;
    border: 0px;
    border-bottom: solid 1px white;
    padding: 1rem;
    margin: 2px 2vw;
    position: relative;
    width: clamp(140px, 19vw, 250px);
    color: white;
    font-size: clamp(1rem, 2vw, 1.5rem);


  }
 
  .academiques, .paiement{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }


  select{
    width: clamp(140px, 19vw, 250px);
    
  }
  input:focus, select:focus{
    outline:0px dashed red;
    border-bottom: solid 1.5px var(--clr);
    transition: .4s;
  }

 ::placeholder{
    color: #9c9c9C;
    font-size: clamp(1rem, 2vw, 1.5rem);
    /* font-size: 3.75rem; */
    
  }

  
input[type="radio"]{
    margin: 0;
    width: fit-content;
}

.paiement button{
    margin: 10px 5px;
}

.boutons{
    margin:30px 0;
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--clr);
    padding-top: 50px;
}

input[type="submit"]{
  background-color: white;
  color: var(--clr2);
  text-align: center;
  font-size: clamp(1.3rem, 2vw, 1.9rem);
  min-width: fit-content;
  border-radius: 45px;
  padding: 10px 20px;
  border: none;
  
}

.sexe{
    width: fit-content;
}
/* .academiques{
    display: flex;
    justify-content: center;
} */
input[type="file"]{
    display: none;
  }

  .fichiers{
    justify-content: space-between;
  }

.fichiers label, .photo label{
    color: #9c9c9C;
    display: flex;
    border: 1px dashed white;
    width: 100%;
    height: 30vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.photo{
    display: flex;
    justify-content: center;

}

.photo label{
    border-radius: 50%;
    width: min(30vw, 400px);
    height: min(30vw, 400px);
    left: 0;
    transform: translate(0%);
}


.fichiers label span{
    color: white;
}
.str{
    color: var(--clr);
    font-weight: 500;
}
button{
    background-color: transparent;
    color: white;

    text-align: center;
    font-size: clamp(1.3rem, 2vw, 1.9rem);
    width: clamp(140px, 19vw, 250px);
    min-width: fit-content;
    border-radius: 45px;
    padding: 10px 20px;

  outline: 2px solid ;
  border: none;
}
button:hover, .boutons button{
    color: var(--clr);
    border-color: currentColor;
    transition: .5s;
}

input[type="submit"]:hover{
  background-color: var(--clr);
  /* 2a61e6  0a1639*/
  box-shadow: 0 0 5px 1px var(--clr);
  color: white;
  outline: 2px solid var(--clr);
  transition: .5s;
}

@media(max-width:800px){

    img{
        max-width: 100px;
    }

    .cote_gauche{
        width: 100%;
        height: max(20%, 300px);
        padding: 0;
        padding-bottom: 20px;
        margin-top: 30px;
    }

    .cote_droit{
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 75%;

        border-top-right-radius: 50px;
        border-top-left-radius: 50px;

        
       }

       form{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 90%;
        height: 550px;
        display: block;
        background: transparent;
       }

       input{
        width: min(80%, 300px);
       }

       input[type="submit"]{
        position: relative;
        width: clamp(10px, 19vw, 250px);
        display: inline;
        font-size: clamp(1rem, 2vw, 1.9rem);
        outline: 3px solid white;
       }

       input[type="radio"]{
        display: inline;
        width: fit-content;
        left: 0;
        transform: translate(0%);

       }

       button{
        font-size: clamp(1rem, 2vw, 1.9rem);
       }
       

       .sexe {
        position: relative;
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);
    }
    
    label, .b{

           font-size: clamp(1rem, 2vw, 1.9rem);

       }

        .boutons{
            width: min(120vw, 300px);
            position: relative;
            left: 50%;
            transform: translate(-50%);
            display: flex;
            justify-content: center;
            gap: 10px;

        }


   }