
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

li{
    list-style: none;
}

:root{
    --clr: #2a61e6;
    --clr2:  #0a1639;
}

::selection{
    background-color: var(--clr);
    color: white;
}

img{
border-radius: 50%;

}

.grande{
    margin-left: min(20px, 40px);
    margin-top: min(8%, 40px);
    width: 15%;
    height: 15%;
    max-width: 120px;
    max-height: 120px;
}

.petite{
    width: 7%;
    height: 7%;
    max-width: 50px;
    max-height: 50px;
}

/*  */
.titre{
    width: auto;
    text-align: left;
    font-size: clamp(1rem,5vw,2rem); 
    font-weight: 700;
    /*     border: 1px solid rebeccapurple ;  */
    margin: 0;
    background-image: linear-gradient(109deg ,var(--clr2) 50%, var(--clr));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}


.sous_titre{
    width: auto;
    text-align: left;
    font-size: clamp(0.8rem, 4vw, 1.5rem); 
    font-weight: 300;
    
    /*     border: 1px solid rebeccapurple ;  */
    margin: 0;
}

.texte{
    width: 50%;
    font-size: clamp(0.7rem,1.9vw, 1.3rem);
    margin: 0;
    margin: 0 min(4%, 40px);
    min-width: 100px;
    /* border: 1px solid rebeccapurple; */ 
}

.b{ /* Pour mettre le texte en bold */
    font-weight: 700;
}

a{
    text-decoration: none;
}


.entete{
    display: flex;
    width: 100%;
    position: relative;
    /* border: 1px solid rebeccapurple ;  */

}

.info{
    width: max-content;
    height: fit-content;
    margin-left: min(12px, 20px);
    margin-top: min(8%, 55px); 
}


.menu{
    position: absolute;
    top: min(35%, 80px);
    width: 7%;
    height: 40%;
    right: 0;
    margin-right: 20px;
    max-width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    overflow: hidden;
    z-index: 3;

}

.menu span{
    position: absolute;
    width: 65%;
    height: 6%;
    background: var(--clr);
    border-radius: 4px;
    transition: 0.5s;
    max-width: 40px;
}

span:first-child{
    transform: translateY(calc(-400%));
    width: 45%;
    left: 20%;
}

span:last-child{
    transform: translateY(calc(400%));
    width: 35%;
    left: 20%;
}

.menu.active span:nth-child(2){
    transform: translateX(70px);

}

.menu.active span:nth-child(1){
    width: 65%;
    transform: translateY(calc(5%)) rotate(45deg);
    background-color: white;
}

.menu.active span:nth-child(3){
    width: 65%;
    transform: translateY(calc(-5%)) rotate(315deg);
    background-color: white;
}

.navigation{
    position: absolute;
    top: 70%;
    right: 0;
    width: 0;
    

    background-color: var(--clr2);
    color: white;
    overflow: hidden;
    height: fit-content;
    padding: 0;
    padding-bottom: 40vh;
    
    border-radius: min(50px, 7vw);
    transition: .5s;
    opacity: 0;

    z-index: 1;
}

ul{
   padding: 2%;
   padding-top: 0;
}
.navigation span{
    font-size: clamp(0.6rem,1.9vw, 0.9rem);
}

.fenetre{
    position: absolute;
    width: 0;
    height: 115%;
    /* height: min(8%, 40px); */
    background: var(--clr2);
    left: 0;
    border-bottom-left-radius: min(8vw, 70px);
    z-index: -1;
    transition: .4s;
    opacity: 0;
}


/* .arrondi{
    position: absolute;
    top: 114%;
    left: calc(61.5%);
    z-index: -2;
    background-image: 
    radial-gradient( circle at 100% 100%, white 70% , var(--clr2) 70% );
    transform: rotate(90deg);
    width: 10vw;
    height: 10vw;
} */

.menu.active ~ .fenetre{
    opacity: 1;
    width: 100%;
}


.menu.active ~ .navigation{
    background-color: #0a1639;
    width: min(40%, 300px);
    padding: min(18vw, 180px) 10px;
    max-height: 300px;

    opacity: 1;
    background-image: url(logo_cfpt.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position:-50% 120% ;
}

.navigation a{
    color: white;
    display: block;
    margin: 6% 0;
}
.navigation hr{
    position: relative;
    width: 100%;
    left: 0px;
    border: none;
    background-color: var(--clr);
    height: min(0.2vw, 1.5px);
}

.fi{
    font-size: clamp(20px, 5vw, 50px);
}

section{
    position: relative;
    margin: 20px;
    margin-top: min(8%, 40px);
    width: auto;
    height: fit-content;
/*         border: 1px solid rebeccapurple; */    

}

.sections{
    width: auto;
    margin-top: min(4%, 30px);;
    /*  border: 1px solid rebeccapurple;  */   
    
}

.sections > *{
    flex: .1;
}

.etudiant{
    width: auto;
    position: relative;
    padding: 3px;
    border-bottom: 1px solid var(--clr);
    border-width: (0.3vw, 1.5px);
    
    display: flex;
    align-items: center;
}
.etudiant:first-child{
    border-top: 1px solid var(--clr);
    
}
.notes{
    position: relative;
    display: flex;
    justify-content: right; 
    gap: min(20px, 4%);
    /* border: 1px solid var(--clr); */
}
    
input{
    width: min(20px, 8%); 
    border: none;
    padding: 0;
    cursor: text; 
    padding: 0 2px;
    text-align: center;

    /* border: 1px solid var(--clr); */
}

input:focus{
    outline: 0px solid var(--clr);
    transition: .5s;
    border-bottom: 1px solid var(--clr);
}

input::placeholder{
    font-size: clamp(0.6rem,1.9vw, 0.9rem);
}

.fi{
    font-size: clamp(20px, 5vw, 50px);
}
.bloc{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 15px;
    /* border: 1px solid rebeccapurple; */    
}

.bloc .cercle{

    position: relative;
    background-color: var(--clr);
    width: 7vw;
    height: 7vw;
    max-width: 31px;
    max-height: 31px;
    border-radius: 50%;
    /* border: 1px solid rebeccapurple; */    
}

.bloc .cercle .fi{
    position: absolute;
    color: white;
    font-size: min(32px,8vw);
    top : 50%;
    left : 50%;
    transform: translate(-50%,-57%) rotate(180deg);
    
}
.bloc .cercle:hover{
    background-color: var(--clr2);
    transition: .5s;
}
.ajout{
    background-color: var(--clr2);
    border-radius: 50px;
    border: 2px solid var(--clr2);

    margin: max(4px, 1vw);
    padding: min(7px, 1vw) min(20px, 4vw);
    display: inline;

    font-weight: 600;
    color: white;

    cursor: pointer;
}



.cercle{
    position: absolute;
    right: 15px;
    width: 31px;
    height: 31px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    }
    
    .cercle .fi{
    position: absolute;
    color: var(--clr);
    font-size: 32px;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-40%) 
    /* border: 1px solid rebeccapurple; */    
    }
    