<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages_web/Users/mac6/Desktop/Pages/pages_web/CSS/nouvelle_page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">


<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <title>Nouvelle Page</title>
</head>
<body>
    <nav class="flou">
        <ul >
            <li class="fntr menu"><a href="#">
                <div>
                    <i class="fi fi-rr-home"></i>
                    <span>Accueil</span>
                </div>
            </a>
            <ul class="deroulante">
                <li class="fntr" ><a href="#">
                    <i class="fi fi-rr-home"></i>
                    <span>option 1</span>
                </a>
            </li>
                <li class="fntr" ><a href="#">
                    <i class="fi fi-rr-home"></i>
                    <span>option 2</span>
                </a>
            </li>
                <li class="fntr" ><a href="#">
                    <i class="fi fi-rr-home"></i>
                    <span>option 3</span>
                </a>
            </li>
            </ul>
        </li>
        
            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-user"></i>
                    <span >Utilisateurs</span>
                </div>
            </a></li>

            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-graduation-cap"></i>
                    <span>Gestion pédagogique</span>
                </div>
            </a></li>

            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-money-bill-wave"></i>
                    <span>Paiements</span>
                </div>
            </a></li>

            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-book-bookmark"></i>
                    <span>Bibliothèque</span>
                </div>
            </a></li>

            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-pharmacy"></i>
                    <span>Infirmerie</span>
                </div>
            </a></li>

            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-building"></i>
                    <span>Partenariats</span>
                </div>
            </a></li>

            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-tool-box"></i>
                    <span>Matériel</span>
                </div>
            </a></li>

            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-folder-minus"></i>
                    <span>Archives</span>
                </div>
            </a></li>

            <li class="fntr"><a href="#">
                <div>
                    <i class="fi fi-rr-sign-out-alt"></i>
                    <span>Me déconnecter</span>
                </div>
            </a></li>

        </ul>
     </nav>

     <div class="elements">
        <div class="haut_de_page">
            <div class="profil">
                <div>
                    <img src="etudiant.png" alt="" class="moyenne_taille mdl">
                </div>
                <div class="">
                    <h3>Abdoulaye SARR</h3>
                    <p>Etudiant</p>
                </div>
                <!-- Modal de modification de profil -->
                <div class="modif_profil">
                    <a href="#">Mon profil</a>
                    <a href="#">Modifier mon mot de passe</a>
                    <a href="#">Autre chose</a>
                </div>
            </div>

            <div>
                <img src="logo_cfpt_bleu.png" alt="" class="moyenne_taille">
            </div>
        </div>

        <h1>Accueil</h1>

        <div class="controle">
            <div class="recherche_filtre">
                <div class="recherche">
                    <input type="text" placeholder="Rechercher..."> 
                </div>
                <button class="filtrer mdl">
                    <i class="fi fi-rr-bars-sort"></i>
                    Filtrer</button>
            </div>
            <button class="ajouter mdl">
                <i class="fi fi-rr-plus"></i>
                Ajouter
            </button>
        </div>

        <div class="liste">
            <div class="item">
                <div class="renseignements">
                    <div></div>
                    <span>Prénom </span>
                    <span>Nom</span>
                    <span>Classe</span>
                    <span>Statut</span>
                    <span>Classe</span>
                </div>
                <span>Actions</span>
            </div>

            <div class="item">
                <div class="renseignements">
                    <img src="etudiant.png" alt="" class="petite_taille">
                    <span>Fatoumata Bintou Rassoul </span>
                    <span>Aidara</span>
                    <span>IIR 2</span>
                    <div class="statut"></div>
                    <span>IIR 2</span>
                </div>
                <button>
                    <i class="fi fi-rr-angle-small-left"></i>
                    <i class="fi fi-rr-edit modifier mdl"></i>
                    <i class="fi fi-rr-comment-alt-dots details mdl"></i>
                    <i class="fi fi-rr-cross supprimer mdl"></i>
                </button>
            </div>
        </div>
     </div>
</body>
</html>

<!-- -comment-alt-dots
-cross -->