<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel="stylesheet" href="/pages_web/Users/mac6/Desktop/Pages/pages_web/CSS/info_eleve.css">
    <link rel="stylesheet" href="/pages_web/Users/mac6/Desktop/Pages/pages_web/CSS/etat_paiement.css">
    <title>Etats de paiement</title>
</head>
<body>
    <!-- 
        <i class="fi fi-rr-user"></i>
        <i class="fi fi-rr-graduation-cap"></i>
        <i class="fi fi-rr-money-bill-wave"></i>
        <i class="fi fi-rs-book-bookmark"></i>
        <i class="fi fi-ss-pharmacy"></i>
        <i class="fi fi-rs-building"></i>
        <i class="fi fi-rr-tools"></i>
        <i class="fi fi-rs-folder-minus"></i>
        <i class="fi fi-ss-sign-out-alt"></i>

        <i class="fi fi-br-check"></i>

     -->
     <nav>
        <ul>
            <li><a href="#"><i class="fi fi-rr-home"></i><span>Accueil</span></a></li>
            <li><a href="#"><i class="fi fi-rr-user"></i><span >Profil</span></a></li>
            <li><a href="#"><i class="fi fi-rr-lock"></i><span>Mot de passe</span></a></li>
            <li><a href="#"><i class="fi fi-rr-sign-out-alt"></i><span>Me déconnecter</span></a></li>
        </ul>
     </nav>

     <div class="elements">
       <div class="info">
        <img src="tuteur.png" class="grande" alt="">
        <div class="entete">
            <h1 class="titre">Sidy SARR</h1>
             <h1 class="sous_titre">tuteur</h1>
         </div>
       </div>
         <div class="affichage">
            <div class="avant">
                <h1 class="texte b2">Etats de paiement pour <span class="str">Abdoulaye SARR</span></h1>
            </div>
            <div class="sections">
                <!-- Répéter la div utilisateur pour un autre utilisateur -->
                <div class="utilisateur">
                    <div class="m impaye"></div>
                    <p class="texte b" >Inscription</p> 
                    <p class="annee_academique texte b">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class=" texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <!-- Séparation avec les mois -->
                </div>
                <!-- Répéter la div utilisateur pour un autre utilisateur -->
                <div class="utilisateur">
                    <div class="m impaye">1</div>
                    <p class="texte" >Septembre</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class=" texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <!-- Répéter la div utilisateur pour un autre utilisateur -->
                <div class="utilisateur">
                    <div class="m impaye">2</div>
                    <p class="texte" >Octobre</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <div class="m impaye">3</div>
                    <p class="texte" >Novembre</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <div class="m impaye">4</div>
                    <p class="texte" >Décembre</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <div class="m impaye">5</div>
                    <p class="texte" >Janvier</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <div class="m impaye">6</div>
                    <p class="texte" >Février</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <div class="m impaye">7</div>
                    <p class="texte" >Mars</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <div class="m impaye">8</div>
                    <p class="texte" >Avril</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <div class="m impaye">9</div>
                    <p class="texte" >Mai</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
                <div class="utilisateur">
                    <div class="m impaye">10</div>
                    <p class="texte" >Juin</p> 
                    <p class="annee_academique texte">2023/2024</p>
                    <div  class="presences">
                        <a href="#" class="texte b2">
                            <span class="payer">Payer</span>
                    </a>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <script>
        //pour changer les couleurs des boutons payer 
        // en fonction de l'etat de paiement, payé ou pas
        var payer = document.querySelectorAll('.payer');
        var etat = document.querySelectorAll('.m');

        //Etablissement de l'etat réel
        var inscrit; // Inscrit ou pas, depuis le laravel
        if(inscrit){
            etat[0].classList.remove('impaye');
            etat[0].classList.add('paye');

            payer[0].parentElement.classList.add('paye');
            payer[0].textContent = "Payé";
        }

        var nbr_paye = 0; // nombre de mois paye depuis le laravel
        for(var i = 1; i < nbr_paye - 1; i++){
            etat[i].classList.remove('impaye');
            etat[i].classList.add('paye');

            payer[i].parentElement.classList.add('paye');
            payer[i].textContent = "Payé";
        }

    

        //Changement d'etat au clic
        payer.forEach(item => {
            item.addEventListener('click', () => {
                var index = Array.from(payer).indexOf(item);

                etat[index].classList.remove('impaye');
                etat[index].classList.add('paye');

                item.parentElement.classList.add('paye');
                item.textContent = "Payé";
            });
        });

    


    </script>


</body>
</html>