<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>

<link rel="stylesheet" href="/pages_web/Users/mac6/Desktop/Pages/pages_web/CSS/info_eleve.css">
    <title>Etudiant</title>
</head>
<body>
    <!-- 
        <i class="fi fi-rr-user"></i>
        <i class="fi fi-rr-graduation-cap"></i>
        <i class="fi fi-rr-money-bill-wave"></i>
        <i class="fi fi-rs-book-bookmark"></i>
        <i class="fi fi-ss-pharmacy"></i>
        <i class="fi fi-rs-building"></i>
        <i class="fi fi-rr-tools"></i>
        <i class="fi fi-rs-folder-minus"></i>
        <i class="fi fi-ss-sign-out-alt"></i>

        <i class="fi fi-br-check"></i>

     -->
     <nav class="flou">
        <ul>
            <li class="fntr actif"><a href="#"><i class="fi fi-rr-home"></i><span>Accueil</span></a></li>
            <li class="fntr"><a href="#"><i class="fi fi-rr-user"></i><span >Profil</span></a></li>
            <li class="fntr"><a href="#"><i class="fi fi-rr-lock"></i><span>Mot de passe</span></a></li>
            <li class="fntr"><a href="#"><i class="fi fi-rr-sign-out-alt"></i><span>Me déconnecter</span></a></li>
        </ul>
     </nav>

    <div class="elements flou">
       <div class="info">
        <img src="tuteur.png" class="grande" alt="">
        <div class="entete">
            <h1 class="titre">Sidy SARR</h1>
             <h1 class="sous_titre">tuteur</h1>
         </div>
       </div>
         <div class="affichage">
            <div class="avant">
                <h1 class="texte">Progrès</h1>
            </div>
            <div class="sections">
                <!-- Répéter la div utilisateur pour un autre utilisateur -->
                <div class="utilisateur">
                    <img src="etudiant.png" alt="Etu" class="petite">
                    <p class="texte" id="n">Abdoulaye SARR</p> 
                    <div  class="presences">
                        <p class="niveau texte">BTS</p>
                        <p class="filiere texte">Informatique</p>
                        <p class="annee_academique texte">2023/2024</p>
                    </div>
                </div>


                <div class="notes">
                    <div class="courbe">
                        <!-- lignes -->
                        <div class="ligne">
                            <span class="texte">20</span>
                            <hr>
                        </div>
                        <div class="ligne">
                            <span class="texte">15</span>
                            <hr>
                        </div>
                        <div class="ligne">
                            <span class="texte">10</span>
                            <hr>
                        </div>
                        <div class="ligne">
                            <span class="texte">5</span>
                            <hr>
                        </div>
                        <div class="diagramme">
                        <!-- barres du diagramme -->
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        <div class="barre"><span class="texte nts"></span></div>
                        </div>
                    </div>


                    <p class="texte b">Devoirs 1</p>
                    <div class="legende">
                        <div class="matieres">
                            <div class="cercle"></div>
                            <p class="texte mtrs"></p>
                        </div>
                        <div class="matieres">
                            <div class="cercle"></div>
                            <p class="texte mtrs"></p>
                        </div>
                        <div class="matieres">
                            <div class="cercle"></div>
                            <p class="texte mtrs"></p>
                        </div>
                        <div class="matieres">
                            <div class="cercle"></div>
                            <p class="texte mtrs"></p>
                        </div>
                        <div class="matieres">
                            <div class="cercle"></div>
                            <p class="texte mtrs"></p>
                        </div>
                        <div class="matieres">
                            <div class="cercle"></div>
                            <p class="texte mtrs"></p>
                        </div>
                    </div>
                 </div>

                 <h1 class="texte b">Autres informations</h1>
                 <div class="autres_informations">
                    <a href="#" class="presence">
                        <div class="graphique" ><div class="pr"><span class="b2">Présence</span> <br></div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                <defs>
                                   <linearGradient id="GradientColor">
                                      <stop offset="0%" stop-color="#2a61e6" />
                                      <stop offset="100%" stop-color="#002f9c" />
                                   </linearGradient>
                                </defs>
                                <circle cx="80" cy="80"  stroke-linecap="round" class="c"/>
                        </svg>
                        
                        </div>

                        <div class="abs_ret">
                            <div class="retard">
                                <div class="rtrd"></div>
                                <p class="texte">31 retards</p>
                            </div>
                            <div class="absence">
                                <div class="absc"></div>
                                <p class="texte">31 absences</p>
                            </div>
                            
                        </div>
                    </a>
                    <div class="pres_paie">
                        <div class="paiement">
                            <h1 class="sous_titre b2">Etats de paiement</h1>
                            <div class="mois">
                                <div class="m texte paye">1</div>
                                <div class="m texte paye">2</div>
                                <div class="m texte paye">3</div>
                                <div class="m texte paye">4</div>
                                <div class="m texte avance">5</div>
                                <div class="m texte impaye">6</div>
                                <div class="m texte">7</div>
                                <div class="m texte">8</div>
                                <div class="m texte">9</div>
                                <div class="m texte">10</div>
                            </div>
                        </div>
                        <div class="prescription mdl">
                            <h1 class="sous_titre b2">1 prescription</h1>
                        </div>
                    </div>
                 </div>

            </div>
        </div>
     </div>

     <span class="fond"></span>
     <dialog data-modal-prescription class="modal">
        <h1 >Prescription médicale</h1>
        <p class="docteur b">Docteur Aïdara</p>
        <div class="contenu">
            <p class="">Votre enfant a été diagnostiqué d'une grippe sévère.</p>
        </div>
        <div class="boutons">
            <button type="button" data-close-modal>Fermer</button>
        </div>
    </dialog><!-- 
     <script>

            var fond = document.querySelector('.fond');
            var flou = document.querySelectorAll('.flou');
            
            var mdl = document.querySelectorAll('.mdl');
            
            var fermemod = document.querySelectorAll('[data-close-modal]');
            
            var prescription_med = document.querySelector('[data-modal-prescription]');

            // Ouverture des modals
             mdl.forEach(item => {
                item.addEventListener('click', function(){
                    var index = Array.from(mdl).indexOf(this);
                    contenu = mdl[index].textContent;
                    contenu = contenu.trim(); 

                    console.log(item.classList.contains("prescription"))
                    
                    flou.forEach(item => {
                        item.classList.add("actif");
                    });
                    fond.classList.add("actif");
                    
                    if(item.classList.contains("prescription")){
                        //console.log(contenu);

                        setTimeout(function(){
                        prescription_med.style.backgroundColor = '#f3f3f3';
                        prescription_med.style.Color = 'black';
                        prescription_med.showModal();
                        prescription_med.classList.add("actif");
                        }, 20); 
                    }

                }); 
            });

            //Fermeture des modals
            fermemod.forEach(item => {
                item.addEventListener('click', () => {
                var actif = document.querySelectorAll('.actif');
                    actif.forEach(item => {
                        item.classList.remove("actif");
                    });
                        prescription_med.close();
                    
            })
            });

            

            //Fenêtre actif
            var li = document.querySelectorAll('.fntr');
            

            li.forEach( liste => {
                    liste.addEventListener('click', function(){
                        li.forEach(item => {
                            item.classList.remove('actif');
                        });
                        this.classList.add('actif');
                    });
                });


        //pour tout ce qui est courbe
        var diagramme = document.querySelector('.diagramme')
        var barre = document.querySelectorAll('.barre');
        var notes = document.querySelectorAll('.nts');
        var cercles = document.querySelectorAll('.cercle')
        var matieres = document.querySelectorAll('.mtrs');
        var matieres = document.querySelectorAll('.mtrs');
        var pr = document.querySelector('.pr');
        var circle = document.querySelector('.c');
        var prescription = document.querySelector('.prescription');

        var mtrs = ['Electronique analogique', 'SGBD', 'Français', 'Controle de processus', 'Maths', 'Electricité'];
        var toutesnotes = [];
        var couleurs = ['#ff5252', '#85ff2b', '#00ccff', '#c9cee2', 
        '#ff7600', '#00ffb7','#009aff','#6800ff','#ffcd55',
        '#c13c00','#ff00a0', '#5f3ef6', '#00545b', '#00854f', '#857a00',
        '#5f9d5d','#7149ab', '#0a1f85', '#850021f', '#9589c9'];


        var min = 0;
        var max = 20;
            function note(min = 0, max = 20) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1) + min); 
                // The maximum is inclusive and the minimum is inclusive
            }
            function pourcentage(min = 0, max = 100) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1) + min); 
                // The maximum is inclusive and the minimum is inclusive
            }

            var presence = pourcentage();
            pr.innerHTML += presence + '%';
            var prcnt = presence/100;
            /* alert(presence); */
            
            presence =400 - prcnt*400;
            circle.style.strokeDashoffset = presence + ''; 

            /* var taille = barre.length;
            alert(taille); */


            //alert(note());
            /*alert(barre[0]); */
            /* barre[0].style.transform = 'scale(1,0.05 )';
            barre[2].style.transform = 'scale(1, 0)'; */
            /* var note = note()*5;
            //alert(note);
            barre[2].style.height = note + '%';
            var taille = barre.length;
            alert(taille); */

            for(var i = 0; i < barre.length; i++){
                barre[i].style.backgroundColor= couleurs[i];
                toutesnotes[i] = note();
                var n = toutesnotes[i]*5;
                barre[i].style.height = n + '%';
            } 

            for(var i = 0; i < cercles.length; i++){
                cercles[i].style.backgroundColor = couleurs[i];
            }
            
            for(var i = 0; i < matieres.length ; i++){
                matieres[i].innerHTML = mtrs[i] + ' : ' + toutesnotes[i];
            }

            diagramme.addEventListener('mouseover', function(){

                for(var i = 0; i < barre.length; i++){
                
                notes[i].innerHTML = toutesnotes[i];
            } 

            });

            diagramme.addEventListener('mouseout', function(){
                for(var i = 0; i < barre.length; i++){
                notes[i].innerHTML = '';
            } 
            });

            prescription.style.color = 'var(--clr)';


            


          /*   var valider = document.querySelector('.ajout');
    valider.addEventListener('click', function(){
        valider.style.backgroundColor = '#2a61e6';
        valider.textContent = 'Validé';
        valider.style.borderColor = '#2a61e6';
        valider.style.transition = '.5s';  
    }); */
     </script> -->
</body>
</html>














