body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
}

:root{
    --clr: #002f9c;
    --clr: #2a61e6;
    --clr2:  #0a1639;
    --rouge: #ff5252;
    --vert:#0dff00;
    --orange:#ff9800;



}


::selection{
    background-color: var(--clr);
    color: white;
}

.info{
    display: flex;
    gap: 2vw;

    height: fit-content;
    margin: 0;

}
/*  */
.titre{
    width: fit-content;
    height: fit-content;
    margin: 0;
    font-size: clamp(1.5rem,5vw,3rem);
    font-weight: 700;
    background-image: linear-gradient(109deg ,var(--clr2) 50%, var(--clr));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-bottom: min(2vw, 40px); */


    }
    
/* tres_gros */
.sous_titre{
width: auto;
margin: 0;
text-align: left;


font-size: clamp(1rem, 3vw, 1.8rem);
font-weight: 300;
line-height: 0;

/*   border: 1px solid rebeccapurple ; */
}

.b{
    font-weight: 700;
}

.b2{
    font-weight: 500;
}

img{
    border-radius: 50%;
    position: relative;
}

.grande{/* 
    margin-left: min(20px, 40px);
    margin-top: min(8%, 40px); */
    margin: 0;
    width: clamp(45px, 10vw, 120px);
}

.petite{
    width: clamp(19px,6%, 40px);
    margin-right: 10px;
}

a{

    text-decoration: none;
}

nav{
    position: relative;
    left: 0px;
    top: 0px;
    width: 60px;
    max-width: 400px;
    height: 90vh;
    background-color: var(--clr2);
    overflow-x: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 30px solid white;
    border-radius:50px ;
    transition: .6s;
    font-size: clamp(0.7rem,2.4vw, 1.1rem);

}

nav:hover{
    width: 260px;
}


ul{
    padding: 0;
}

li{
    list-style: none;
    margin: 30px 10px;
    position: relative;
    left: 0;
}

ul li a{
    color: white;  
    width: 20px;
    height: 20px;
    padding: 15px 15px; 
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

ul li a:hover,  ul li.actif{
    color: var(--clr);
    border: currentColor;
    border-radius: 60px;
    box-shadow: 0 1px 7px 1px currentColor;
    transition: .4s;
}

div{
    margin: min(5vw, 30px) 0;
}
.elements{
    position: relative;
    right: 0;
    width: 75%;
}

.entete{
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: min(2vw, 40px);
    transform: translateY(-10%);
    margin: 0px;
    padding: 0;
}

.avant{
    display: flex;
    align-items: center;
    margin: 0;
}

.affichage{
    display: block;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    margin-top: min(6vw, 50px);
}

.ajout{
    background-color: var(--clr2);
    border-radius: 50px;
    border: 2px solid var(--clr2);

    margin: max(4px, 1vw);
    padding: min(3px, 2vw) min(13px, 4vw);
    display: flex;
    gap: 10px;

    font-weight: 600;
    color: white;

    cursor: pointer;
}

.ajout.texte{
    width: fit-content;
}

.ajout.texte .fi{
    font-weight: 500;
    font-size: clamp(0.5rem,1.9vw, 1.1rem);
    margin-top: 2px;
}


.affichage .texte{
    margin: 0;
}


.texte{
    width: 50%;
    font-size: clamp(0.5rem,1.9vw, 1.1rem);
    margin: 0;
    margin: 0 min(4%, 40px);
    /* border: 1px solid rebeccapurple; */ 
}
 

.sections{
    width: auto;
    margin-top: min(2%, 30px);
    
    /*  border: 1px solid rebeccapurple;  */   
    
}

.sections > *{
    flex: .1;
}

p .texte{
    min-width: 100px;
}

.utilisateur{
    width: auto;
    position: relative;
    margin-top: 0;
    padding: .9vw 3px;
    border-width: min(0.3vw, 1.5px);
    border-bottom: 1px solid var(--clr);
    
    display: flex;
    align-items: center;
}
.utilisateur:first-child{
    border-top: 1px solid var(--clr);
    
}
.presences{
    position: relative;
    width:fit-content;
    display: flex;
    justify-content: right; 
    align-items: center;
    gap: min(20px, 3%);
    margin: 0;
    /* border: 1px solid var(--clr); */
}
input[type="radio"]{
    display: none;
}
input{
    width: min(20px, 8%); 
    border: none;
    padding: 0;
    padding: 0 2px;
    text-align: center;

    /* border: 1px solid var(--clr); */
}

/* input:focus{
    outline: 0px solid var(--clr);
    transition: .5s;
    border-bottom: 1px solid var(--clr);
}
 */


/* input::placeholder{
    font-size: clamp(0.6rem,1.9vw, 0.9rem);
}
 */

 
.presences a.texte{
    position: relative;
    width: fit-content;
    margin: 0; 
    padding : 4px 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 3px;
    /* display: none; */
    border: 1px solid var(--clr);
    border-radius: 4vw; 
}
.presences .texte i{
    margin-top: 4px;
    font-size: clamp(0.5rem,1.9vw, 1.1rem);
}


/* Curieusement les nth:child ne sont pas réguliers
au lieu de 1 2 3 c'est plutôt 1 3 5 */
.presences a:nth-child(1){
    border-color: var(--clr);
    color: var(--clr);
}
.presences a:nth-child(2){
    border-color: var(--clr2);
    color: var(--clr2);
}
.presences a:nth-child(3){
    border-color:var(--rouge);
    color: var(--rouge);
}

.notes, .autres_informations{
    width: auto;
    height: fit-content;/* 
    border: 1px solid var(--rouge); */
    padding: min(3px, 7%) min(13px, 8%);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    overflow-y: auto;
    border-radius: min(6px, .7vw); 
    
}

.courbe{
    position: relative;
    border-bottom: 1.5px solid var(--clr);
    margin-bottom: 1vh;
    
}

.courbe .ligne{
    display: flex;
    align-items: top;
    gap: 5px;
}
 .courbe .ligne hr{
    width: 90%;
    margin: 0;
    height: .5px;
    border: none;
    background-color: var(--clr);
 }

 

 .courbe .ligne .texte{
    position: relative;
    width: fit-content;
    min-width: 10px;
    text-align: right;
    transform: translateY(-50%);
 }

 .courbe .diagramme{
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 80%;
    height: 100%;

    display: flex;
    gap: min(20px, 3%);

    left: 50%;
    transform: translate(-50%);

    overflow-x: auto;
    overflow-y: auto;/* 
    border: 1px solid var(--rouge); */
    

 }

 .courbe .barre{
    position: relative;
    display: flex;
    align-self: flex-end;
    width: min(30px, 3vw);
    height: 25%;
    margin: 0;
    background-color: var(--rouge);
    border-radius: min(6px, .7vw) min(6px, .7vw) 0 0; 
    transition: 1s;
 }

 .courbe .barre span{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 3px;
    margin: 0;
    font-size: clamp(0.5rem,1.4vw, 1.1rem);
    font-weight: 400;
    transition : .4s;
 }

 .notes .texte{
    width:100%;
    text-align: center;
 }

 .notes .legende{
    margin: 0;
    margin-top: min(3%, 40px);

    display: flex;
    flex-wrap: wrap;
    gap: min(20px, 2vw);
 }



.legende .matieres, .retard, .absence{
    width: fit-content;
    margin: 0;

    display: flex;
    align-items: center;

    padding: 0;
}

 .legende .cercle, .absc, .rtrd{
    width: min(3vw, 20px);
    height: min(3vw, 20px);
    border-radius: 50%;
    margin: 0;
    margin-right: 4px;
    padding: 0;
    /* 
    background-color: var(--rouge); */
}

 .legende .texte{
    width: fit-content;
 }

 .autres_informations{
    padding: 0;
    display: flex;
   /*  flex-wrap: wrap; 
   gap: min(13px, 4vw);*/

   justify-content: space-between;


 }

 .autres_informations a{
    border-radius: min(10px, 1vw);
    color: black;
 }

 .autres_informations div{
    margin: 0;
    border-radius: min(6px, .7vw);
 }

 .autres_informations .texte{
    width: fit-content;
 }

 .autres_informations .presence{
    width: 40%;
    border: 1px solid var(--clr);
    padding: min(3px, 2vw) min(13px, 4vw);
    cursor: pointer;
    
 }

.autres_informations .abs_ret{
   
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: min(20px, 2vw);
    
    position: relative;
    left: 50%;
    transform: translate(-50%);

}

.autres_informations .presence .graphique{
    width: 100%;
    height: fit-content;
    margin-bottom: min(20px, 2vw);

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
   /* 
    background-color: rgb(180, 199, 255); */
}
svg{
    position: relative;
}
circle{
    position: relative;
    r: 40%;
    fill: none;/* 
    stroke: url(#GradientColor); */
    stroke: var(--clr);
    stroke-width: min(20);
    stroke-dasharray: 400;
    stroke-dashoffset: 280;
    transition: 2s;
}

.autres_informations .presence .graphique div{

    position: absolute;
}

.pr{
    text-align: center;
}

.retard .rtrd,.absence .absc{
    border-radius: 50%;
    
    margin-right: 4px;
    background-color: var(--rouge);
}

.retard .rtrd{
    background: var(--clr2);
}

.autres_informations .pres_paie{
    position: relative;
    width: 50%;/* 
    border: 1px solid var(--clr2); */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.autres_informations .pres_paie .paiement, 
.autres_informations .pres_paie .prescription{
    width: 100%;
    border: 1px solid var(--clr);
    height: auto;
    position: relative;
    padding: /* min(3px, 2vw) */ min(13px, 4vw);
    /* box-sizing: border-box; */
    cursor: pointer;

}

.autres_informations .pres_paie .prescription{
    margin-top: 3%;
    position: relative;
    bottom: 0; 
    display: flex;
    align-items: center;
}

.paiement .sous_titre{
    position: relative;
    margin: min(10px, 4%) 0;
}

.paiement .mois{
    position: relative;
    top: min(25%, 15%);
    display: flex;
    flex-wrap: wrap;
    gap: min(15px, 1vw);
    margin: 4% 0;

}

.paiement .m{
    border-radius: 50%;
    border: 1px solid var(--clr);
    width: min(3vw, 25px);
    height: min(3vw, 25px);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.m.paye{
    background-color: var(--vert);
    border-color: var(--vert);
}

.m.avance{
    background-color: var(--orange);
    border-color: var(--orange);
    color: white
}

.m.impaye{
    background-color: var(--rouge);
    border-color: var(--rouge);
    color: white;
}


.str{
    color: var(--clr);
    font-weight: 500;
}


@media(max-width:550px){
    .b{
        font-weight: 600;
    }
    nav{
        width: min(55px, 13vw);
        border-width:15px ;
        justify-content: center;
    }
    nav:hover{
        width: 55px;
    }
    nav ul li{
        margin: 0;
    }
    nav ul li a span{
        display: none;
    }
    .presences{
        gap: 8%;
    }
       .presences a.texte{
        padding: 2px 10px;
       }
 
       .autres_informations .presence{
        width: 100%;
        position: relative;
       }

       .graphique{
        position: relative;
        width: fit-content;
        
       }

    
    .autres_informations{
        padding: 0;
        display: flex;
        flex-wrap: wrap; 
        gap: min(13px, 4vw);

    justify-content: center;
    }

    .autres_informations .pres_paie{
        position: relative;
        width: 100%;/* 
        border: 1px solid var(--clr2); */
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

      
       /*svg{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
       } */
   }


   @media(max-width:425px){
circle{

}

   }


   /* Depuis admin.css */

   .flou.actif{
    filter: blur(6px);
}



/* Gestion des modals */
.fond{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    transition: .4s;
}

.fond.actif{
    visibility: visible;
}


.modal{
    position: absolute;
    width: 80%;
    height: 70%;
    
    background-color: var(--clr2);
    background-image: url(logo_cfpt_bleu.png);
    background-size: 90%;
    background-blend-mode: overlay;
    background-position: 50%;
    background-repeat: no-repeat;

    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
    border: none;

    /* top: 50%;
    left: 50%; */
    transform: /* translate(-50%,-50%) */ scale(0);

    border-radius: min(20px,3vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .6s all ease;
}



.modal.actif{
    transform: /* translate(-50%,-50%) */ scale(1);
    transition: .6s;
}
.modal.ouv{
    transform: translate(-50%,-50%) scale(1);
    transition: .4s;
}

.modal h1{
    text-align: center;
    color: var(--clr);
    margin: 0;
    margin-top: min(40px,3vw);
}

.contenu{
    position: relative;

    width: 90%;
    height: auto;
    overflow: hidden;

    color: black;
}

.contenu p{
    text-align: center;
}

.boutons{
    width: 90%;
    height: 10vh;
    margin: 0;
    margin-bottom: min(40px,3vw);

    position: relative;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(20px, 2%);

}

.boutons .texte{
    width: fit-content;
}

button{
    background-color: transparent;
    color: var(--clr);

    min-width: fit-content;
    border-radius: 45px;
    padding: 10px 20px;

    outline: 2px solid;
    margin: min(20px, 2%);;
    border: none;
}